# **Procesamiento de una base de datos de empresas**

## ✅**Parte 1: Preparación del entorno de trabajo**

## ✅**Parte 2: Inspección de información:**

**```2.1```**

In [1]:
import pandas as pd
import numpy as np
# Cargar el archivo 
padron_julio = pd.read_csv("../data/raw/PadronRUC_202407.csv", encoding = 'latin1')

C:\Users\aml\AppData\Local\Temp\ipykernel_10920\3616628573.py:3: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  padron_julio = pd.read_csv("../data/raw/PadronRUC_202407.csv", encoding = 'latin1')

**```2.2.1```**

In [3]:
# Detalle de las primeras 5 filas
padron_julio.head()

,RUC,Estado,Condicion,Tipo,Actividad_Economica_CIIU_revision3_Principal,Actividad_Economica_CIIU_revision3_Secundaria,Actividad_Economica_CIIU_revision4_Principal,NroTrab,TipoFacturacion,TipoContabilidad,ComercioExterior,UBIGEO,Departamento,Provincia,Distrito,PERIODO_PUBLICACION
0,10000000065,ACTIVO,HABIDO,PERSONA NATURAL SIN EMPRESA,OTRAS ACTIVIDADES DE TIPO SERVICIO NO CLASIFIC...,NO DISPONIBLE,NO DISPONIBLE,NO DISPONIBLE,MANUAL,MANUAL,SIN ACTIVIDAD,250101,UCAYALI,CORONEL PORTILLO,CALLERIA,202407
1,10000000103,ACTIVO,HABIDO,PERSONA NATURAL SIN EMPRESA,OTRAS ACTIVIDADES DE TIPO SERVICIO NO CLASIFIC...,NO DISPONIBLE,NO DISPONIBLE,NO DISPONIBLE,MANUAL,MANUAL,SIN ACTIVIDAD,250101,UCAYALI,CORONEL PORTILLO,CALLERIA,202407
2,10000000120,ACTIVO,HABIDO,PERSONA NATURAL SIN EMPRESA,OTRAS ACTIVIDADES DE TIPO SERVICIO NO CLASIFIC...,NO DISPONIBLE,NO DISPONIBLE,NO DISPONIBLE,MANUAL,MANUAL,SIN ACTIVIDAD,250101,UCAYALI,CORONEL PORTILLO,CALLERIA,202407
3,10000000146,ACTIVO,HABIDO,PERSONA NATURAL SIN EMPRESA,ACTIVIDADES JURIDICAS,NO DISPONIBLE,ACTIVIDADES JURIDICAS,NO DISPONIBLE,MANUAL,MANUAL,SIN ACTIVIDAD,250101,UCAYALI,CORONEL PORTILLO,CALLERIA,202407
4,10000000219,ACTIVO,HABIDO,PERSONA NATURAL SIN EMPRESA,ENSEÑANZA PRIMARIA,NO DISPONIBLE,ENSEÑANZA PREESCOLAR Y PRIMARIA,NO DISPONIBLE,MANUAL,MANUAL,SIN ACTIVIDAD,250101,UCAYALI,CORONEL PORTILLO,CALLERIA,202407

**```2.2.2```**

In [4]:
# Detalle de las útimas 5 filas
padron_julio.tail()

,RUC,Estado,Condicion,Tipo,Actividad_Economica_CIIU_revision3_Principal,Actividad_Economica_CIIU_revision3_Secundaria,Actividad_Economica_CIIU_revision4_Principal,NroTrab,TipoFacturacion,TipoContabilidad,ComercioExterior,UBIGEO,Departamento,Provincia,Distrito,PERIODO_PUBLICACION
12355026,20612882291,ACTIVO,PENDIENTE,ASOCIACION,ACTIVIDADES OTRAS ASOCIACIONES NO CLASIFICADO ...,NO DISPONIBLE,ACTIVIDADES DE OTRAS ASOCIACIONES NO CLASIFICA...,NO DISPONIBLE,MANUAL/COMPUTARIZADO,MANUAL,SIN ACTIVIDAD,150501,LIMA,CAÑETE,SAN VICENTE DE CAÑETE,202407
12355027,20612882518,ACTIVO,HABIDO,CONTRATOS COLABORACION EMPRESARIAL,ACTIVIDADES DE ARQUITECTURA E INGENIERIA,NO DISPONIBLE,ACTIVIDADES DE ARQUITECTURA E INGENIERIA Y ACT...,NO DISPONIBLE,COMPUTARIZADO,COMPUTARIZADO,SIN ACTIVIDAD,190101,PASCO,PASCO,CHAUPIMARCA,202407
12355028,20612882551,ACTIVO,HABIDO,ASOCIACION,SERVICIOS AGRICOLAS GANADERAS,NO DISPONIBLE,ACTIVIDADES DE APOYO A LA AGRICULTURA,NO DISPONIBLE,COMPUTARIZADO,COMPUTARIZADO,SIN ACTIVIDAD,170303,MADRE DE DIOS,TAHUAMANU,TAHUAMANU,202407
12355029,20612882577,ACTIVO,HABIDO,CONTRATOS COLABORACION EMPRESARIAL,ACTIVIDADES DE ASESORAMIENTO EMPRESARIAL,NO DISPONIBLE,ACTIVIDADES DE CONSULTORIA DE GESTION,NO DISPONIBLE,MANUAL,MANUAL,SIN ACTIVIDAD,250101,UCAYALI,CORONEL PORTILLO,CALLERIA,202407
12355030,20612882721,ACTIVO,HABIDO,ASOCIACION,ACTIVIDADES OTRAS ASOCIACIONES NO CLASIFICADO ...,NO DISPONIBLE,ACTIVIDADES DE OTRAS ASOCIACIONES NO CLASIFICA...,NO DISPONIBLE,MANUAL/COMPUTARIZADO,MANUAL/COMPUTARIZADO,SIN ACTIVIDAD,40112,AREQUIPA,AREQUIPA,PAUCARPATA,202407

**```2.2.3```**

In [5]:
# Información de las columnas
padron_julio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12355031 entries, 0 to 12355030
Data columns (total 16 columns):
 #   Column                                         Dtype
---  ------                                         -----
 0   RUC                                            int64
 1   Estado                                         object
 2   Condicion                                      object
 3   Tipo                                           object
 4   Actividad_Economica_CIIU_revision3_Principal   object
 5   Actividad_Economica_CIIU_revision3_Secundaria  object
 6   Actividad_Economica_CIIU_revision4_Principal   object
 7   NroTrab                                        object
 8   TipoFacturacion                                object
 9   TipoContabilidad                               object
 10  ComercioExterior                               object
 11  UBIGEO                                         object
 12  Departamento                                   object
 13  Provincia                                      object
 14  Distrito                                       object
 15  PERIODO_PUBLICACION                            int64
dtypes: int64(2), object(14)
memory usage: 1.5+ GB

**```2.2.4```**

In [6]:
# Número de filas y columnas
padron_julio.shape

(12355031, 16)

**```2.2.5```**

In [7]:
# Resumen de las principales estadísticas
padron_julio.describe().T

,count,mean,std,min,25%,50%,75%,max
RUC,12355031.0,1.136182e+10,2.833241e+09,1.000000e+10,1.023931e+10,1.044319e+10,1.072516e+10,2.061288e+10
PERIODO_PUBLICACION,12355031.0,2.024070e+05,0.000000e+00,2.024070e+05,2.024070e+05,2.024070e+05,2.024070e+05,2.024070e+05

**¿Encontramos resultados razonables? ¿Algo no nos hace sentido? ¿Por qué?**

*   La columna 'RUC' y 'PERIODO_PUBLICACION' son tomadas como valores tipo integer, pero 'RUC' es un identificador
(como el nombre de la empresa) y 'PERIODO_PUBLICACION' es una fecha.

*   NroTrab es un valor que debería ser de tipo int al ser el número de trabajadores

*   Hay muchos valores "NO DISPONIBLES" en columnas como 'Actividad_Economica_CIIU_revision3_Principal',
'Actividad_Economica_CIIU_revision3_Secundaria' ,
'Actividad_Economica_CIIU_revision4_Principal' e incluso 'NroTrab'

*   Los valores únicos de 'UBIGEO' sugieren que esta bien construida la tabla (esta bien?)

## ✅**Parte 3: Procesamiento de información:**

**```3.1```**

In [2]:
# Creamos una nueva columna
padron_julio['region'] = ''

# Asignar valores a 'region' según el departamento
padron_julio.loc[padron_julio['Departamento'].isin(['LIMA', 'CALLAO', 'PIURA', 'LAMBAYEQUE', 'TUMBES', 'ICA', 'LA LIBERTAD']), 'region'] = 'Costa'
padron_julio.loc[padron_julio['Departamento'].isin(['CUSCO', 'HUANCAVELICA', 'HUANUCO', 'JUNIN' , 'AYACUCHO', 'ANCASH' , 'AREQUIPA' , 'PUNO' , 'CAJAMARCA'
                                                    , 'TACNA' , 'APURIMAC' , 'MOQUEGUA' , 'PASCO']), 'region'] = 'Sierra'
padron_julio.loc[padron_julio['Departamento'].isin(['LORETO', 'UCAYALI', 'MADRE DE DIOS' , 'SAN MARTIN' , 'AMAZONAS']), 'region'] = 'Selva'

# Filtro de solo las empresas que pertenecen a la costa
padron_julio_costa = padron_julio[padron_julio['region'] == 'Costa']

In [ ]:
# Código para verificar los datos
# ¿Todos los departamentos están incluidos?
# padron_julio_region = padron_julio[['RUC' , 'Departamento' , 'region']]
# padron_julio_region

**```3.2```**

In [9]:
# Crear la columna 'comercio_resumen'
padron_julio_costa['comercio_resumen'] = " "
padron_julio_costa.loc[padron_julio_costa['ComercioExterior'].isin(['IMPORTADOR' , 'EXPORTADOR' , 'IMPORTADOR/EXPORTADOR' ]) , "comercio_resumen" ] = "Con actividad"
padron_julio_costa.loc[padron_julio_costa['ComercioExterior'].isin(['SIN ACTIVIDAD' , 'NO DISPONIBLE' ]) , "comercio_resumen" ] = 'Sin actividad'
# Verificamos
# padron_julio_costa['comercio_resumen'].value_counts()

C:\Users\aml\AppData\Local\Temp\ipykernel_12236\2771810988.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  padron_julio_costa['comercio_resumen'] = " "

**```3.3```**

In [10]:
# Reemplazar los valores "No disponible" por NaN
padron_julio_costa['NroTrab'] = padron_julio_costa['NroTrab'].replace("NO DISPONIBLE", np.nan)

# Elimino los misings
padron_julio_costa = padron_julio_costa.dropna(subset=['NroTrab'])

# Verificar si los valores nulos de la columna NroTrab es igual a los valores 'NO DISPONIBLE'
# padron_julio_costa['NroTrab'].isna().sum()

# Convertir la columna 'NroTrav' a tipo Int64 (que permite valores nulos)
padron_julio_costa['NroTrab'] = padron_julio_costa['NroTrab'].astype('Int64')

# Filtrar empresas con menos de 1000 trabajadores (ignorar nulos)
padron_julio_costa = padron_julio_costa[(padron_julio_costa['NroTrab'] < 1000)]

# Verifico
# padron_julio_costa['NroTrab'].max()

C:\Users\aml\AppData\Local\Temp\ipykernel_12236\745708950.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  padron_julio_costa['NroTrab'] = padron_julio_costa['NroTrab'].replace("NO DISPONIBLE", np.nan)

**```3.4```**

In [11]:
padron_julio_costa['RUC'] = padron_julio_costa['RUC'].astype('str')
padron_julio_costa
# Filtrar empresas cuyo RUC empieza con 2
padron_julio_costa = padron_julio_costa[padron_julio_costa['RUC'].str.startswith('2')]

**```3.5```**

In [12]:
# Seleccionar las columnas que necesitamos
padron_julio_costa_resumen = padron_julio_costa[['RUC', 'TipoFacturacion', 'TipoContabilidad', 'Departamento', 'region', 'NroTrab', 'comercio_resumen']]

**```3.6```**

In [13]:
# Renombrar las columnas en snake_case
padron_julio_costa_resumen.columns = padron_julio_costa_resumen.columns.str.lower().str.replace(' ', '_')

## ✅**Parte 4: Función para el procesamiento de información**

**```4```**

In [2]:
def procesar_padron_ruc(mes, anio):

    """
    Procesa el padrón RUC de un mes y año específicos.

    Args:
        mes (str): El nombre del mes en minúsculas (e.g., 'julio').
        año (str): El año en formato de cuatro dígitos (e.g., '2024').

    Returns:
        pd.DataFrame: DataFrame con las empresas filtradas y procesadas.
    """

    # Diccionario de meses
    meses_dict = {
                'enero': '01', 'febrero': '02', 'marzo': '03', 'abril': '04',
                'mayo': '05', 'junio': '06', 'julio': '07', 'agosto': '08',
                'septiembre': '09', 'octubre': '10', 'noviembre': '11', 'diciembre': '12'
                 }

    # obtener el numero del mes y asegurar que está en minuscula
    mes_num = meses_dict.get(mes.lower())

    # Formar la ruta del archivo con los args
    ruta = f"../data/raw/PadronRUC_{anio}{mes_num}.csv"

    # Cargar el archivo CSV
    padron = pd.read_csv(ruta, encoding='latin1')

    # Crear una nueva columna llamada 'region'
    padron['region'] = ''

    # Asignar el departamento en región correspondiente
    padron.loc[padron['Departamento'].isin(
        ['LIMA', 'CALLAO', 'PIURA', 'LAMBAYEQUE', 'TUMBES', 'ICA', 'LA LIBERTAD']), 'region'] = 'Costa'
    padron.loc[padron['Departamento'].isin(
        ['CUSCO', 'HUANCAVELICA', 'HUANUCO', 'JUNIN', 'AYACUCHO', 'ANCASH', 'PUNO', 'CAJAMARCA', 'TACNA', 'APURIMAC', 'MOQUEGUA', 'PASCO' , 'AREQUIPA']), 'region'] = 'Sierra'
    padron.loc[padron['Departamento'].isin(
        ['LORETO', 'UCAYALI', 'MADRE DE DIOS', 'SAN MARTIN', 'AMAZONAS']), 'region'] = 'Selva'

    # Filtrar solo las empresas que pertenecen a la Costa
    padron_costa = padron[padron['region'] == 'Costa']

    # Crear la columna 'comercio_resumen' a partir de 'ComercioExterior'
    padron_costa['comercio_resumen'] = " "
    padron_costa.loc[padron_costa['ComercioExterior'].isin(['IMPORTADOR' , 'EXPORTADOR' , 'IMPORTADOR/EXPORTADOR' ]) , "comercio_resumen" ] = "Con actividad"
    padron_costa.loc[padron_costa['ComercioExterior'].isin(['SIN ACTIVIDAD' , 'NO DISPONIBLE' ]) , "comercio_resumen" ] = 'Sin actividad'

    # Reemplazar los valores "NO DISPONIBLE" por NaN en la columna 'NroTrab'
    padron_costa['NroTrab'] = padron_costa['NroTrab'].replace("NO DISPONIBLE", np.nan)

    # Eliminar las filas con valores NaN en 'NroTrab'
    padron_costa = padron_costa.dropna(subset=['NroTrab'])

    # Convertir la columna 'NroTrab' a tipo Int64
    padron_costa['NroTrab'] = padron_costa['NroTrab'].astype('Int64')

    # Filtrar empresas con menos de 1000 trabajadores (ignorando nulos)
    padron_costa = padron_costa[padron_costa['NroTrab'] < 1000]

    # Convertir el RUC a cadena de texto (str) y filtrar empresas cuyo RUC empieza con '2'
    padron_costa['RUC'] = padron_costa['RUC'].astype(str)
    padron_costa = padron_costa[padron_costa['RUC'].str.startswith('2')]

    # Seleccionar las columnas necesarias
    columnas = ['RUC', 'TipoFacturacion', 'TipoContabilidad', 'Departamento', 'region', 'NroTrab', 'comercio_resumen']
    padron_costa_resumen = padron_costa[columnas]

    # Renombrar las columnas a snake_case
    padron_costa_resumen.columns = padron_costa_resumen.columns.str.lower().str.replace(' ', '_')

    return padron_costa_resumen

In [5]:
# Ejecutar la función
# Ojo: el archivo debe estar en la ubicación ..data/raw..
df_agosto= procesar_padron_ruc('agosto', '2024')
# Verificamos
df_agosto.head()

C:\Users\aml\AppData\Local\Temp\ipykernel_10920\2966919780.py:28: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  padron = pd.read_csv(ruta, encoding='latin1')
C:\Users\aml\AppData\Local\Temp\ipykernel_10920\2966919780.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  padron_costa['comercio_resumen'] = " "
C:\Users\aml\AppData\Local\Temp\ipykernel_10920\2966919780.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  padron_costa['NroTrab'] = padron_costa['NroTrab'].replace("NO DISPONIBLE", np.nan)

,ruc,tipofacturacion,tipocontabilidad,departamento,region,nrotrab,comercio_resumen
11418653,20100000092,MANUAL/COMPUTARIZADO,COMPUTARIZADO,CALLAO,Costa,1,Con actividad
11418655,20100000688,COMPUTARIZADO,COMPUTARIZADO,LIMA,Costa,88,Sin actividad
11418658,20100001579,MANUAL,MANUAL/COMPUTARIZADO,CALLAO,Costa,124,Con actividad
11418659,20100002206,MANUAL/MECANIZADO/COMPUTARIZADO,MANUAL/COMPUTARIZADO,CALLAO,Costa,81,Con actividad
11418660,20100002460,MANUAL,MANUAL/COMPUTARIZADO,CALLAO,Costa,6,Sin actividad

In [28]:
# Ejecutar la función
# Ojo: el archivo debe estar en la ubicación ..data/raw..
df_julio= procesar_padron_ruc('julio', '2024')
# Verificamos
df_julio.head()

C:\Users\aml\AppData\Local\Temp\ipykernel_12236\2401789161.py:28: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  padron = pd.read_csv(ruta, encoding='latin1')
C:\Users\aml\AppData\Local\Temp\ipykernel_12236\2401789161.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  padron_costa['comercio_resumen'] = " "
C:\Users\aml\AppData\Local\Temp\ipykernel_12236\2401789161.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  padron_costa['NroTrab'] = padron_costa['NroTrab'].replace("NO DISPONIBLE", np.nan)

,ruc,tipofacturacion,tipocontabilidad,departamento,region,nrotrab,comercio_resumen
11390992,20100000092,MANUAL/COMPUTARIZADO,COMPUTARIZADO,CALLAO,Costa,1,Con actividad
11390994,20100000688,COMPUTARIZADO,COMPUTARIZADO,LIMA,Costa,88,Sin actividad
11390997,20100001579,MANUAL,MANUAL/COMPUTARIZADO,CALLAO,Costa,129,Con actividad
11390998,20100002206,MANUAL/MECANIZADO/COMPUTARIZADO,MANUAL/COMPUTARIZADO,CALLAO,Costa,82,Con actividad
11390999,20100002460,MANUAL,MANUAL/COMPUTARIZADO,CALLAO,Costa,6,Sin actividad

## ✅Parte 5: Entregables finales

In [6]:
import os # Con os puedo crear, eliminar y renombrar archivos y directorios

# Guardar en inter
ruta_inter = "../data/inter/"
# Guardar df_agosto como un archivo CSV
df_agosto.to_csv(os.path.join(ruta_inter, 'Padron_Agosto_2024.csv'), index=False, encoding='latin1')
# Guardar df_julio como un archivo CSV
df_julio.to_csv(os.path.join(ruta_inter, 'Padron_Julio_2024.csv'), index=False, encoding='latin1')

**```5.1```**

In [31]:
# Concatene y cree un nuevo df:
RUC_julio_agosto = pd.concat([df_julio, df_agosto] , ignore_index=True)
# Guardar en final
ruta_final = "../data/final/"
# Guardamos
RUC_julio_agosto.to_csv(os.path.join(ruta_final, 'RUC_julio_agosto.csv'), index=False, encoding='latin1')
RUC_julio_agosto.head()

,ruc,tipofacturacion,tipocontabilidad,departamento,region,nrotrab,comercio_resumen
0,20100000092,MANUAL/COMPUTARIZADO,COMPUTARIZADO,CALLAO,Costa,1,Con actividad
1,20100000688,COMPUTARIZADO,COMPUTARIZADO,LIMA,Costa,88,Sin actividad
2,20100001579,MANUAL,MANUAL/COMPUTARIZADO,CALLAO,Costa,129,Con actividad
3,20100002206,MANUAL/MECANIZADO/COMPUTARIZADO,MANUAL/COMPUTARIZADO,CALLAO,Costa,82,Con actividad
4,20100002460,MANUAL,MANUAL/COMPUTARIZADO,CALLAO,Costa,6,Sin actividad

**```5.2.1```**

In [39]:
comercio = RUC_julio_agosto.groupby('comercio_resumen')['nrotrab'].agg([sum, np.mean]).reset_index()
comercio

C:\Users\aml\AppData\Local\Temp\ipykernel_12236\3760547842.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  comercio = RUC_julio_agosto.groupby('comercio_resumen')['nrotrab'].agg([sum, np.mean]).reset_index()
C:\Users\aml\AppData\Local\Temp\ipykernel_12236\3760547842.py:1: FutureWarning: The provided callable <function mean at 0x00000233B99EE520> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  comercio = RUC_julio_agosto.groupby('comercio_resumen')['nrotrab'].agg([sum, np.mean]).reset_index()

  comercio_resumen      sum       mean
0    Con actividad  1741734  14.465388
1    Sin actividad  3297171   8.596883

**```5.2.2```**

In [52]:
def pct75(column):
    return column.quantile(0.75)

def pct50(column):
    return column.quantile(0.50)

def pct25(column):
    return column.quantile(0.25)

def moda(column):
    moda = column.mode() # función de pandas
    return moda

In [53]:
trabajadores = RUC_julio_agosto.pivot_table(values='nrotrab', index='departamento', aggfunc=[pct25, pct50 , pct75, moda])
trabajadores

               pct25   pct50   pct75    moda
             nrotrab nrotrab nrotrab nrotrab
departamento
AREQUIPA           1       2       4       1
CALLAO             1       2       6       1
ICA                1       2       4       1
LA LIBERTAD        1       2       5       1
LAMBAYEQUE         1       2       4       1
LIMA               1       2       5       1
PIURA              1       2       5       1
TUMBES             1       2       5       1